# see: https://docs.github.com/en/get-started/git-basics/ignoring-files

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# dependencies
node_modules/

# environment
.env*.local

# expo
.expo/
dist/
web-build/
expo-env.d.ts
nativewind-env.d.ts

# metro
.metro-health-check*

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# eslint
.eslintcache

# typescript
*.tsbuildinfo

# macos
.DS_Store
*.pem
